//clears
body, ul, li {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

//common
nav li {
    display: inline-block;

    a {
        padding: 5px;
    }
}

a {
    text-decoration: none;

    &.active {
        font-weight: bold;
        color: green;
    }
}

.fixture {
    width: 700px;
    margin: auto;

    li {
        width: 100%;
        text-align: center;
    }
}

.name {
    display: inline-block;
    width: 40%;
    text-align: left;

    &:nth-child(2n) {
        text-align: right;
    }
}

.result {
    display: inline-block;
    width: 9.99%;
    text-align: center;
}